

$_colorStyle01_font01: black;  // основной цвет 
$_colorStyle01_font02: dimgray; // вспомогательный цвет
$_colorStyle01_font03: white; // рьратный контрастный цвет 1


$_colorStyle01_border01: rgb(105, 105, 105); // rgb(92, 39, 177);


$_colorStyle01_fone01: white;  // фон для всей страницы
$_colorStyle01_fone02: dimgray;
$_colorStyle01_fone03_activeItem: gainsboro;




